

.card{
    border: none !important;
    .card-container{
        .block{
            width: 100%;
            height: 50vh;
            text-align: center;
            margin: 20rem 0;
        }
    }
}